<div masonry>
    <div class="masonry-brick" ng-repeat="image in images">
        <img ng-src="images/projects/gallery/{{ image.imageUrl }}" alt="{{ image.title }}" 
            class="img-responsive dn-lk-image img-thumbnail dn-img-gallery" 
            ng-click="openImage(image)" />
    </div>
</div>

<script type="text/ng-template" id="dn-gallery-modal.html">
    <div id="dn-gallery-modal" class="panel-default">
        <div class="panel-heading dn-modal-heading">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 pull-right">
                    <a class="btn btn-default dn-btn-close" ng-click="close()"><i class="fa fa-close"></i></a>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-9">
                    <h2>{{ image.title }}</h2>
                </div>
            </div>
        </div>
        <div class="panel-body dn-modal-body">
            <img ng-src="images/projects/gallery/{{ image.imageUrl }}" alt="{{ image.title }}" class="img-responsive dn-img-center" />
        </div>
        <div class="panel-footer dn-modal-footer">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 pull-right">
                    <a class="btn btn-default dn-btn-close" ng-click="close()"><i class="fa fa-close"></i></a>
                </div>
            </div>
        </div>
    </div>
</script>