html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*line-height: 60px;*/
  height: 60px;
  background-color: brown;
  color: #edd1a4;
}
.dn-footer-container {
  padding-top: 10px;
}
.dn-img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: orange;
  border: 15px solid brown;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}
.dn-img-gallery {
  background: brown;
}
.dn-intro {
  text-align: center;
  color: brown;
}
.dn-intro-pic,
.dn-intro-tag {
  padding-top: 25px;
  padding-bottom: 25px;
}
.dn-intro-text .dn-name {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
.dn-intro-text .dn-skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 992px) {
  .dn-intro-tag {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .dn-intro-pic {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .dn-intro-text .dn-name {
    font-size: 2em;
  }
  .dn-intro-text .dn-skills {
    font-size: 1.75em;
  }
}
hr.dn-star-light {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.dn-star-light:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.dn-star-light {
  border-color: brown;
}
hr.dn-star-light:after {
  background-color: #edd1a4;
  color: brown;
}
.dn-padding-r-10 {
  padding-right: 10px;
}
.navbar-nav > li > a.dn-linkedin {
  color: #0177B5;
  font-size: 20px;
  display: inline;
  line-height: 50px;
  padding: 15px 0px 15px 3px;
}
.navbar-nav > li > a.dn-github {
  color: #333;
  font-size: 20px;
  display: inline;
  line-height: 50px;
  padding: 15px 7px 15px 0;
}
.dn-experience {
  color: #ffffe5;
  padding: 10px;
}
.dn-experience-even {
  background: #C7A56C;
}
.dn-experience-odd {
  background: #edd1a4;
}
.dn-img-thumbnail-even {
  background-color: #edd1a4;
  border: 1px solid #C7A56C;
}
.dn-img-thumbnail-odd {
  background-color: #C7A56C;
  border: 1px solid #edd1a4;
}
h2 {
  color: brown;
  font-size: 20px;
  font-weight: bold;
}
.dn-h3-even {
  color: #edd1a4;
  font-size: 18px;
}
.dn-h3-odd {
  color: #C7A56C;
  font-size: 18px;
}
.dn-h4 {
  color: brown;
  font-size: 15px;
}
a.dn-link {
  color: darkgrey;
}
.dn-link-icon {
  color: darkgrey;
}
.dn-tag {
  cursor: pointer;
}
.dn-tag-1,
.dn-tag-icon-1 {
  color: #7e602c;
  font-size: 9px;
}
.dn-tag-2,
.dn-tag-icon-2 {
  color: #c37a00;
  font-size: 10px;
}
.dn-tag-3,
.dn-tag-icon-3 {
  color: #7e602c;
  font-size: 11px;
}
.dn-tag-4,
.dn-tag-icon-4 {
  color: #633e00;
  font-size: 12px;
}
.dn-tag-5,
.dn-tag-icon-5 {
  color: #650281;
  font-size: 13px;
}
.dn-tag-6,
.dn-tag-icon-6 {
  color: #650281;
  font-size: 14px;
}
.dn-tag-7,
.dn-tag-icon-7 {
  color: #481e53;
  font-size: 15px;
}
.dn-tag-8,
.dn-tag-icon-8 {
  color: #de5c5c;
  font-size: 16px;
}
.dn-tag-9,
.dn-tag-icon-9 {
  color: #de3333;
  font-size: 17px;
}
.dn-tag-10,
.dn-tag-icon-10 {
  color: #c30000;
  font-size: 18px;
}
/***Skills page tags - START ***/
.dn-skills-container .dn-tag-1,
.dn-skills-container .dn-tag-icon-1 {
  color: #7e602c;
  font-size: 12px;
}
.dn-skills-container .dn-tag-2,
.dn-skills-container .dn-tag-icon-2 {
  color: #c37a00;
  font-size: 15px;
}
.dn-skills-container .dn-tag-3,
.dn-skills-container .dn-tag-icon-3 {
  color: #7e602c;
  font-size: 18px;
}
.dn-skills-container .dn-tag-4,
.dn-skills-container .dn-tag-icon-4 {
  color: #633e00;
  font-size: 21px;
}
.dn-skills-container .dn-tag-5,
.dn-skills-container .dn-tag-icon-5 {
  color: #650281;
  font-size: 24px;
}
.dn-skills-container .dn-tag-6,
.dn-skills-container .dn-tag-icon-6 {
  color: #650281;
  font-size: 27px;
}
.dn-skills-container .dn-tag-7,
.dn-skills-container .dn-tag-icon-7 {
  color: #481e53;
  font-size: 30px;
}
.dn-skills-container .dn-tag-8,
.dn-skills-container .dn-tag-icon-8 {
  color: #de5c5c;
  font-size: 33px;
}
.dn-skills-container .dn-tag-9,
.dn-skills-container .dn-tag-icon-9 {
  color: #de3333;
  font-size: 36px;
}
.dn-skills-container .dn-tag-10,
.dn-skills-container .dn-tag-icon-10 {
  color: #c30000;
  font-size: 39px;
}
/***Skills tags page - END**/
.dn-panel {
  border-color: brown;
  background: #edd1a4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.dn-panel-heading {
  background: brown;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.dn-panel-footer {
  text-align: right;
  background: brown;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-color: brown;
}
.dn-btn {
  border-color: #fff;
  background: #edd1a4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.dn-img-icon-project {
  width: 200px;
}
.dn-panel-body {
  padding: 0;
  margin: 0;
}
.dn-img-main-project {
  width: 400px;
  background: #edd1a4;
}
.dn-tag-well {
  background: #edd1a4;
  border-color: brown;
  border: none;
  box-shadow: none;
  margin: 10px;
}
.dn-lk-image {
  width: 150px;
  cursor: pointer;
}
.dn-gallery-items > li {
  vertical-align: middle;
  border: 0;
}
.dn-icons-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.dn-icons-2x {
  font-size: 2em;
}
.dn-icons-3x {
  font-size: 3em;
}
.dn-icons-4x {
  font-size: 4em;
}
.dn-icons-5x {
  font-size: 5em;
}
.dn-icons-10x {
  font-size: 10em;
}
.dn-icons-fw {
  width: 1.28571429em;
  text-align: center;
}
/*
.dn-tag-icon-1 { font-size: @dn-tag-size-1; }
.dn-tag-icon-2 { font-size: @dn-tag-size-2; }
.dn-tag-icon-3 { font-size: @dn-tag-size-3; }
.dn-tag-icon-4 { font-size: @dn-tag-size-4; }
.dn-tag-icon-5 { font-size: @dn-tag-size-5; }
.dn-tag-icon-6 { font-size: @dn-tag-size-6; }
.dn-tag-icon-7 { font-size: @dn-tag-size-7; }
.dn-tag-icon-8 { font-size: @dn-tag-size-8; }
.dn-tag-icon-9 { font-size: @dn-tag-size-9; }
.dn-tag-icon-10 { font-size: @dn-tag-size-10; }
*/
.dn-font-text-alt {
  color: brown;
}
.dn-modal-heading,
.dn-modal-footer {
  background: brown !important;
  color: #edd1a4 !important;
}
.dn-modal-heading h2 {
  color: #edd1a4 !important;
}
.dn-modal-body {
  background: #edd1a4;
  color: brown;
}
@media (max-width: 767px) {
  .text-right {
    text-align: center;
  }
}
.dn-star {
  color: orange;
  font-size: 3vw;
}
a.dn-btn-close {
  color: brown;
  background: #fff;
}
.dn-versions {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: brown;
  border-radius: 4px;
}
.dn-versions > li {
  display: inline-block;
  color: #edd1a4;
}
.dn-versions > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f8eedd;
}
.dn-fa-10x {
  font-size: 10em;
}
.dn-training-icon {
  max-height: 50px;
  padding: 1px;
  line-height: 1.42857143;
  background-color: orange;
  border: 2px solid brown;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}
.dn-trainings {
  color: brown;
}
.dn-about-me {
  padding: 10px;
}
.dn-flipcard-caption {
  position: relative;
  top: -20px;
  background: brown;
  color: #ffffe5;
  width: 100%;
  padding: 0 5px;
}
/*** start Flip card **/
.dn-flipcard-container {
  position: relative;
  margin: 10px auto;
  width: 247px;
  height: 154px;
  z-index: 1;
}
.dn-flipcard-container > img {
  width: 247px;
  height: 154px;
}
.dn-flipcard-loc-city {
  padding-top: 20px;
  font-size: 2em;
}
.dn-flipcard-loc-country {
  font-size: 2em;
}
@media (max-width: 1199px) {
  .dn-flipcard-container {
    position: relative;
    margin: 10px auto;
    width: 337px;
    height: 210px;
    z-index: 1;
  }
  .dn-flipcard-container > img {
    width: 337px;
    height: 210px;
  }
  .dn-flipcard-loc-city {
    padding-top: 40px;
    font-size: 3em;
  }
  .dn-flipcard-loc-country {
    font-size: 3em;
  }
  .dn-flipcard-face.dn-flipcard-back > p {
    font-size: 1.5em !important;
  }
}
@media (max-width: 767px) {
  .dn-flipcard-container {
    position: relative;
    margin: 10px auto;
    width: 225px;
    height: 140px;
    z-index: 1;
  }
  .dn-flipcard-container > img {
    width: 225px;
    height: 140px;
  }
  .dn-flipcard-loc-city {
    padding-top: 20px;
    font-size: 2em;
  }
  .dn-flipcard-loc-country {
    font-size: 2em;
  }
  .dn-flipcard-face.dn-flipcard-back > p {
    font-size: 1em !important;
  }
}
.dn-flipcard-face.dn-flipcard-back > p {
  font-size: 1em;
}
.dn-flipcard-container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.dn-flipcard-card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.dn-flipcard-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.dn-flipcard-face.dn-flipcard-back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: #ffffe5;
  text-align: center;
  background-color: brown;
}
.dn-flipcard-shadow {
  -webkit-box-shadow: 3px 3px 3px lightbrown;
  -moz-box-shadow: 3px 3px 3px lightbrown;
  box-shadow: 3px 3px 3px lightbrown;
  margin-bottom: 10px;
}
.dn-flipcard-container-rotate-x:hover .dn-flipcard-card-rotate-x,
.dn-flipcard-container-rotate-x.hover_effect .dn-flipcard-card-rotate-x {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-box-shadow: -3px 3px 3px lightbrown;
  -moz-box-shadow: -3px 3px 3px lightbrown;
  box-shadow: -3px 3px 3px lightbrown;
}
.dn-flipcard-container-rotate-y:hover .dn-flipcard-card-rotate-y,
.dn-flipcard-container-rotate-y.hover_effect .dn-flipcard-card-rotate-y {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: -3px 3px 3px lightbrown;
  -moz-box-shadow: -3px 3px 3px lightbrown;
  box-shadow: -3px 3px 3px lightbrown;
}
/*** end Flip card **/
/*** start carousel experience ***/
.dn-experience-indicators {
  z-index: 15;
  width: 100%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.dn-experience-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 3px;
  text-indent: -999px;
  border: 1px solid brown;
  border-radius: 0px;
  cursor: pointer;
}
.dn-experience-indicators .active {
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: brown;
}
.dn-experience-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.dn-experience-caption .btn {
  text-shadow: none;
}
.dn-experience-control {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: brown;
  text-align: center;
}
.dn-experience-control.right {
  left: auto;
  right: 0;
}
.dn-experience-control:hover,
.dn-experience-control:focus {
  outline: 0;
  color: brown;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.dn-experience-control .icon-prev,
.dn-experience-control .icon-next,
.dn-experience-control .glyphicon-chevron-left,
.dn-experience-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}
.dn-experience-control .icon-prev,
.dn-experience-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.dn-experience-control .icon-next,
.dn-experience-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.dn-experience-control .icon-prev,
.dn-experience-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.dn-experience-control .icon-prev:before {
  content: '\2039';
}
.dn-experience-control .icon-next:before {
  content: '\203a';
}
@media screen and (min-width: 768px) {
  .dn-experience-control .glyphicon-chevron-left,
  .dn-experience-control .glyphicon-chevron-right,
  .dn-experience-control .icon-prev,
  .dn-experience-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .dn-experience-control .glyphicon-chevron-left,
  .dn-experience-control .icon-prev {
    margin-left: -10px;
  }
  .dn-experience-control .glyphicon-chevron-right,
  .dn-experience-control .icon-next {
    margin-right: -10px;
  }
  .dn-experience-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .dn-experience-indicators {
    bottom: 20px;
  }
}
.dn-experience-inner > .item > img,
.dn-experience-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.dn-experience-inner {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: brown;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.dn-experience-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.dn-experience-inner > .item > img,
.dn-experience-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .dn-experience-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .dn-experience-inner > .item.next,
  .dn-experience-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .dn-experience-inner > .item.prev,
  .dn-experience-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .dn-experience-inner > .item.next.left,
  .dn-experience-inner > .item.prev.right,
  .dn-experience-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.dn-experience-inner > .active,
.dn-experience-inner > .next,
.dn-experience-inner > .prev {
  display: block;
}
.dn-experience-inner > .active {
  left: 0;
}
.dn-experience-inner > .next,
.dn-experience-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.dn-experience-inner > .next {
  left: 100%;
}
.dn-experience-inner > .prev {
  left: -100%;
}
.dn-experience-inner > .next.left,
.dn-experience-inner > .prev.right {
  left: 0;
}
.dn-experience-inner > .active.left {
  left: -100%;
}
.dn-experience-inner > .active.right {
  left: 100%;
}
/*** end carousel experience ***/
.dn-experience-h2 {
  color: #fff;
}
.dn-experience-h4 {
  color: brown;
  background: #edd1a4;
  padding: 5px;
  font-size: 0.9em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.dn-experience-h3 {
  color: #edd1a4;
  font-size: 18px;
}
.dn-experience-description {
  text-align: left;
}
/*** start breadcrumb ***/
.dn-breadcrumb {
  margin-top: 25px;
  display: inline-block;
  background: #fff;
}
.dn-breadcrumb > .active {
  color: #edd1a4;
}
.dn-breadcrumb > li > a {
  color: brown;
}
.dn-breadcrumb > li > a:hover {
  text-decoration: none;
}
/*** end breadcrumb ***/
.dn-h1 {
  color: brown;
}
@media screen and (max-width: 400px) {
  .dn-h1 {
    color: brown;
    font-size: 1.5em;
    margin-bottom: 0px;
  }
}
.dn-well-training {
  background: brown;
}
.dn-training-h2 {
  color: #fff;
}
.dn-study {
  background: brown;
}
.dn-study-h3 {
  color: #edd1a4;
  margin-top: 0px;
}
.dn-study-h4 {
  color: gold;
}
hr.dn-study-star-light {
  border-color: gold;
  margin-bottom: 15px;
}
.dn-training-panel {
  background: #edd1a4;
}
hr.dn-study-star-light:after {
  background-color: brown;
  color: gold;
}
hr.dn-training-star-light {
  border-color: brown;
  margin-bottom: 15px;
}
hr.dn-training-star-light:after {
  background-color: #edd1a4;
  color: brown;
}
.dn-no-marpad-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.dn-no-marpad-top {
  margin-top: 0px;
  padding-top: 0px;
}
.dn-training-h3 {
  color: brown;
}
.dn-training-h4 {
  color: orange;
}
hr.dn-experience-star-light {
  border-color: gold;
  margin-bottom: 15px;
}
hr.dn-experience-star-light:after {
  background-color: brown;
  color: gold;
}
hr.dn-project-star-light {
  border-color: gold;
  margin-bottom: 15px;
}
hr.dn-project-star-light:after {
  background-color: brown;
  color: gold;
}
.dn-project-well {
  background: brown;
}
.dn-img-center {
  margin: auto;
}
/***START MASONRY***/
/*
.masonry-brick {
  margin: 2px;
  display: none;
  border: 0 solid black;
  padding: 3px;
  margin-bottom: 10px;
  width: 220px;
  background: #fff; 
}

.masonry-brick.loaded {
  display: block; 
}
*/
/***START MASONRY***/
.dn-bt-primary {
  color: brown;
  background: #edd1a4;
  border-color: brown;
}
.dn-bt-primary:hover {
  color: #edd1a4;
  background: brown;
  border-color: #edd1a4;
}
.dn-bt-secondary {
  color: #edd1a4;
  background: brown;
  border-color: #edd1a4;
}
.dn-bt-secondary:hover {
  color: brown;
  background: #edd1a4;
  border-color: brown;
}
.btn:hover,
.btn:focus,
.btn.focus,
.btn:active {
  text-decoration: none;
}
