<dn-page-header title="header.title" icon-class="header.iconClass" breadcrumb="breadcrumb"></dn-page-header>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 dn-about-me">
        <img src="./images/about/me-xs.png" class="img-responsive visible-xs center-block" />
        <img src="./images/about/me-sm.png" class="img-responsive visible-sm center-block" />
        <img src="./images/about/me-lg.png" class="img-responsive visible-md center-block" />
        <img src="./images/about/me-lg.png" class="img-responsive visible-lg center-block" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>My name is Philippe Donnette and I have been developing software for about ten yers now.</p>
                <p>
                    I am passionate about software development and I am specialized in working with 
                    Web Technologies using dotnet framework. I am finding myself with a growing interest towards 
                    javascript front-end librairies and framework.
                </p> 
                <p>
                    Lucky father of two, I have another great passion in life which is playing football.  
                </p>
            </div>
        </div>
        
        <div class="row">
    
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="card in cards">
                <dn-flipcard caption="card.caption" caption-icon-class="card.captionIconClass" 
                    text-front="card.textFront" image-front-url="card.imageFrontUrl"
                    text-back="card.textBack" image-back-url="card.imageBackUrl"
                    rotate="card.rotate"></dn-flipcard> 
            </div>
    
        </div>
    </div>
</div>
