<!--<dn-page-header page-title="header.title" icon-class="header.iconClass" breadcrumb="breadcrumb"></dn-page-header>-->

<div class="row dn-intro">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dn-intro-pic">
        <img ng-src="./images/{{ person.primaryImage }}" class="dn-img-thumbnail img-circle center-block" />
        <div class="dn-intro-text">
            <span class="dn-name">{{ person.occupation }}</span>
            <hr class="dn-star-light">
            <span class="dn-skills">{{ person.occupationMotto }}</span>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dn-intro-tag">
        <img ng-src="./images/{{ person.homeImage }}" class="img-responsive center-block" />
    </div>
</div>