
    <div class="row dn-intro">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dn-intro-pic">
            <img src="./images/user.png" class="dn-img-thumbnail img-circle center-block" />
            <div class="dn-intro-text">
                <span class="dn-name">Software & Web Developer</span>
                <hr class="dn-star-light">
                <span class="dn-skills">10 Years Experience in Software Development</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dn-intro-tag">
            <img src="./images/wordcloud-1.png" class="img-responsive center-block" />
        </div>
    </div>